---
layout: layouts/base.njk
---

<div class="project">
    <section class="title">
        <div class="title__container h-layout">
            <h1>{{ client }}</h1>

            <div class="bar"></div>
        </div>
    </section>

    <section class="project__content">
        <div class="h-layout">
            <img src="/static/images/{{ image }}" alt={{ client }} />
        </div>
    </section>
</div>