/*
Fonts
*/
$primary: #222;
$secondary: #f4f4f4;
$accent: #ba09ff;

$font-base: 1rem;
$font-sm: 1.25rem;
$font-md: 1.5rem;
$font-lg: 2rem;

/*
Spacing
*/
$spacing-base: 1rem;
$spacing-sm: 2rem;
$spacing-md: 3rem;
$spacing-lg: 4rem;
