---
layout: layouts/base.njk
title: About
eleventyNavigation:
  key: about
  order: 1
---

<section class="title">
    <div class="title__container h-layout">
        <h1>{{ title }}</h1>

        <div class="bar">
        </div>
    </div>
</section>

<section class="about">
    <div class="about__container h-layout">
        <div>
            <img src="../static/images/nicolas_memoji.png">

            <h3>Hello, I'm Nicolas. Nice to meet you.</h3>

            <p>I am currently a student at the Artevelde University of Applied Sciences where I'm getting my Associate Degree in Programming.</p>
            
            <p>I have a serious passion for designing and developing web applications.</p>

            <a href="/contact">
                <button class="btn-primary">
                    <span>Send me a message</span>
                </button>
            </a>
            
        </div>
    </div>
</section>

<section class="services">
    <div class="h-layout">
        <h2>Services</h2>

        <ul class="services__list">
            <li class="services__list-item">
                <img src="../static/images/uiux_design.svg" alt=""/>

                <h3>UI/UX Design</h3>

                <p>I make beautiful designs and interfaces that people love to use. Simplicity is key.</p>
            </li>

            <li class="services__list-item">
                <img src="../static/images/frontend_dev.svg" alt=""/>

                <h3>Front-End Development</h3>

                <p>I convert data into a graphical interface so that people can view an application or website and seemlessly interact with it.</p>
            </li>

            <li class="services__list-item">
                <img src="../static/images/backend_dev.svg" alt=""/>

                <h3>Back-End Development</h3>

                <p>I make sure my websites run fast and smooth. I also manage databases and create webshops.</p>
            </li>
        </ul>
    </div>
</section>

<section class="technologies">
    <div class="h-layout">
        <h2>Technologies</h2>

        <ul class="technologies__list">
            <li class="technologies__list-item">
                <figure>
                    <img src="../static/images/html5.svg" alt="HTML5" />

                    <figcaption>HTML5</figcaption>
                </figure>
            </li>

            <li class="technologies__list-item">
                <figure>
                    <img src="../static/images/css3.svg" alt="CSS3" />

                    <figcaption>CSS3</figcaption>
                </figure>
            </li>  

            <li class="technologies__list-item">
                <figure>
                    <img src="../static/images/javascript.svg" alt="JavaScript" />

                    <figcaption>JavaScript</figcaption>
                </figure>
            </li>

            <li class="technologies__list-item">
                <figure>
                    <img src="../static/images/react.svg" alt="React" />

                    <figcaption>React</figcaption>
                </figure>
            </li>

            <li class="technologies__list-item">
                <figure>
                    <img src="../static/images/wordpress.svg" alt="WordPress" />

                    <figcaption>WordPress</figcaption>
                </figure>
            </li>

            <li class="technologies__list-item">
                <figure>
                    <img src="../static/images/adobe.svg" alt="Adobe XD" />

                    <figcaption>Adobe XD & PS</figcaption>
                </figure>
            </li>          
        </ul>
    </div>
</section>

<section class="reflections">
    <div class="h-layout">
        <h2>Reflections</h2>

        <ul class="reflections__list">
            <li class="reflections__list-item">
                <p class="question">Q: What did I learn from the guest speakers?</p>

                <p class="answer">A: A lot! I've learned that being a developer means that you will never stop learning and technology will always advance, that the relationship between UI/UX and front-end developer is important because it's their design that you will be coding, that when you write code you don't target the computer, instead you target the end users while giving instructions to the computer.</p>
                
                <p class="answer">Of course I also remember valueable tips and tricks such as that having an online portfolio and GitHub profile is very important, that it's recommended to ask plenty of questions to colleagues to show that you're motivated and willing to learn, which things to say or ask when applying for a job, and many more.</p>
                
                <p class="answer">In general, these past weeks have been very fascinating, and I've learned so incredibly much from all the guest speakers.</p>
            </li>

            <li class="reflections__list-item">
                <p class="question">Q: Which job do I feel is the right one for me?</p>

                <p class="answer">A: Having done both front-end and back-end programming, I can say I like the front-end side more. I love the process of 'slicing', which is basically turning a design into code to produce a beautiful, responsive website, from scratch. This is also what people will see and interact with when they visit a page, and knowing that they might love this website you created, will give me a lot of satisfaction.</p>

                <p class="answer">Other than programming, I also like creating designs myself. Seeing you progress from starting to sketch low fidelity wireframes on paper, to high fidelity ones and eventually creating a visual design with a design system on the computer, is also very rewarding.</p>
            </li>

            <li class="reflections__list-item">
                <p class="question">Q: Which tools have I used so far?</p>

                <p class="answer">A: So far I've been using Visual Studio Code for programming in HTML, CSS, JavaScript, React, NodeJS, 11ty, SASS, Nunjucks... you name it. Whatever code I write, it's in VSC.</p>
                
                <p class="answer">Other than that I've used other programs such as Adobe XD to make high fidelity wireframes, visual designs and design systems, MySQL to interact with databases that will contain data later to be used on a website, browsers such as Chrome and Firefox Developer Edition to help with debugging my code, and eventually when I want to share my work and projects, I push my code to GitHub so that other developers can see my creations.</p>
            </li>

            <li class="reflections__list-item">
                <p class="question">Q: Which tools would I like to use in the future and why?</p>

                <p class="answer">A: Definitely the same ones as I mentioned above. For UI/UX I would love to start working with both Figma and Sketch, as I've heard they are both amazing tools to use. Other than NodeJS, we haven't seen any other back-end frameworks, so I'm a curious what Laravel (PHP) has to offer.</p>
                
                <p class="answer">As far as front-end frameworks go, we've been working in React for our final project for Programming 4, and I'm very impressed by it. Other than that, I've heard that Svelte is getting more popular each day, and I'd like to explore it more.</p>
            </li>
        </ul>
    </div>
</section>