---
layout: layouts/base.njk
title: About
eleventyNavigation:
  key: about
  order: 1
---

<section class="title">
    <div class="title__container h-layout">
        <h1>{{ title }}</h1>

        <div class="bar">
        </div>
    </div>
</section>

<section class="about">
    <div class="about__container h-layout">
        <div>
            <img src="../static/images/nicolas_memoji.png">

            <h3>Hello, I'm Nicolas. Nice to meet you.</h3>

            <p>I am currently a student at the Artevelde University of Applied Sciences where I'm getting my Associate Degree in Programming.</p>
            
            <p>I have a serious passion for designing and developing web applications.</p>

            <a href="/contact">
                <button class="btn-primary">
                    <span>Send me a message</span>
                </button>
            </a>
            
        </div>
    </div>
</section>

<section class="services">
    <div class="h-layout">
        <h2>Services</h2>

        <ul class="services__list">
            {% for service in services %}
                {% include "components/services.njk" %}
            {% endfor %}

        </ul>
    </div>
</section>

<section class="technologies">
    <div class="h-layout">
        <h2>Technologies & Tools</h2>

        <ul class="technologies__list">
            {% for technology in technologies %}
                {% include "components/technologies.njk" %}
            {% endfor %}
        </ul>
    </div>
</section>