.projects {
  &__list {
    margin-top: $spacing-lg;

    &-item {
      margin-top: 7rem;

      img {
        width: 90%;
        transition: all 0.4s ease;
      }
      
      a {
        display: block;
        color: $secondary;
        text-align: center;
    
        .btn-primary {
          margin-top: $spacing-base;
        }
      }

      h3 {
        display: inline-block;
        margin: $spacing-base auto;
        padding-bottom: 0.5rem;
        background: linear-gradient(currentColor 0 0) bottom /var(--d, 2rem) 1px no-repeat;
        transition: 0.4s;
      }
    
      &:hover {
        img {
          transform: scale(1.05);
        }

        h3 {
            --d: 100%;
        }
      }
    }
  }

  @media (min-width: 48rem) { 
    &__list {
    
      &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        a {
          display: initial;
        }

        img {
          width: 100%;
        }

        > div:first-child {
          flex-basis: 35%;
          order: 0
        }

        > div:last-child {
          flex-basis: 60%
        }

        h3 {

        }
      }
    }
  }
}