/*
Abstracts
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/*
Fonts
*/
/*
Spacing
*/
/*
Base
*/
body {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

button {
  font-family: "Lato";
  font-size: 1.1rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

/*
Components
*/
.about {
  margin-top: 2rem;
}
.about__container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about img {
  width: 7rem;
}
.about h3 {
  flex-basis: 100%;
  margin: 2rem 0;
}
.about p {
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .about p {
    margin-top: 0.5rem;
  }
}
.about button {
  margin-top: 2rem;
}

.bar {
  height: 0.2rem;
  width: 4rem;
  background: #f4f4f4;
  margin: 0.75rem auto 0;
}

.btn-primary {
  padding: 1rem;
  border: 1px solid #f4f4f4;
  background: none;
  color: #f4f4f4;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.btn-primary:hover {
  background: #f4f4f4;
  color: #222;
}

footer {
  border-top: 1px solid white;
}

.footer {
  margin-top: 4rem;
  padding: 2rem 0;
  text-align: center;
}
.footer .made-by {
  margin-top: 0.5rem;
}
.footer .made-by .fa-heart {
  color: #f1403c;
}
.footer .scroll-to-top #scrollToTopBtn {
  display: none;
}
@media (min-width: 64rem) {
  .footer .scroll-to-top #scrollToTopBtn {
    display: block;
    background: #f4f4f4;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid #222;
    border-radius: 10px;
    cursor: pointer;
  }
}

.header .menu {
  padding: 1rem 0;
  text-align: center;
}
.header .menu .logo img {
  width: 10rem;
}
.header .menu .main-nav__list {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.header .menu .main-nav__list-item {
  margin: 1rem;
}
.header .menu .main-nav__list-item a {
  padding: 0.5rem;
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 400;
  background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 2px no-repeat;
  transition: 0.4s;
}
.header .menu .main-nav__list-item a:hover {
  --d: 100%;
}
.header .menu .main-nav__list-item--active a {
  background: linear-gradient(#ba09ff 0 0) 0 100%/var(--d, 100%) 2px no-repeat;
}
@media (min-width: 48rem) {
  .header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu .main-nav__list {
    margin-top: 0;
  }
}

.reflections {
  margin-top: 4rem;
}
.reflections h2 {
  text-align: center;
}
.reflections__list {
  margin-top: 2rem;
}
.reflections__list-item {
  margin-top: 2rem;
}
.reflections__list-item .question,
.reflections__list-item .answer {
  margin-top: 1rem;
}
.reflections__list-item .question {
  font-weight: 500;
}
.reflections__list-item h3 {
  margin: 1rem 0;
}

.services {
  background: #f4f4f4;
  color: #222;
  padding: 4rem 0;
  text-align: center;
}
.services__list {
  margin-top: 2rem;
}
.services__list-item {
  margin-top: 2rem;
}
.services__list-item img {
  width: 7rem;
}
.services__list-item h3 {
  margin: 1rem 0;
}
@media (min-width: 48rem) {
  .services__list {
    display: flex;
    justify-content: space-between;
  }
  .services__list-item {
    flex-basis: 30%;
  }
}

.socials {
  margin-top: 1rem;
}
.socials__list {
  display: flex;
  justify-content: center;
}
.socials__list > li {
  margin-right: 1rem;
}
.socials__list > li a i {
  font-size: 2rem;
  color: #f4f4f4;
  transition: 0.2s ease;
  transform: translateY(0);
}
.socials__list > li a i:hover {
  color: #ba09ff;
  transform: translateY(-10%);
}
.socials__list > li:last-child {
  margin-right: 0;
}

.technologies {
  margin: 4rem 0;
  text-align: center;
}
.technologies__list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.technologies__list-item {
  margin-top: 2rem;
  flex-basis: 30%;
}
.technologies__list-item img {
  width: 50%;
}
.technologies__list-item figcaption {
  margin-top: 0.5rem;
  font-size: 1rem;
}
@media (min-width: 48rem) {
  .technologies__list-item {
    flex-basis: 15%;
  }
}

.title {
  margin-top: 2rem;
  text-align: center;
}

/*
Layout
*/
.mailchimp {
  background: #f4f4f4;
  color: #222;
  padding-bottom: 3rem;
}
.mailchimp .h-layout {
  max-width: 50rem;
}
.mailchimp section {
  margin-top: 3rem;
}
.mailchimp img {
  border: 1px solid #222;
  width: 100%;
}
.mailchimp p {
  margin: 1rem 0;
}
.mailchimp ul {
  list-style-type: lower-roman;
  margin-left: 1rem;
}
.mailchimp ul li {
  text-align: left;
  line-height: 1.5;
}
.mailchimp figure {
  margin-top: 2rem;
}
.mailchimp figure figcaption {
  font-size: 1rem;
  text-align: center;
}
.mailchimp__title {
  padding-top: 3rem;
  text-align: center;
}
.mailchimp .mailing img:last-child {
  margin-top: 2rem;
}
.mailchimp .mailchimp__logo {
  text-align: center;
}
.mailchimp .mailchimp__logo img {
  margin: 0 auto;
  width: 25%;
  border: none;
}

/*
Pages
*/
.contact p {
  margin-top: 1rem;
  font-size: 1.25rem;
  width: 75%;
}
.contact p:first-child {
  margin-top: 3rem;
}
.contact form {
  margin-top: 3rem;
}
.contact form label {
  width: 100%;
  display: block;
  margin-top: 1.5rem;
}
.contact form input[type=text],
.contact form input[type=email],
.contact form textarea {
  font-family: "Lato", sans-serif;
  margin-top: 0.5rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  background: none;
  color: #f4f4f4;
  outline: none;
}
.contact form textarea {
  resize: vertical;
}
.contact form .form__submit {
  margin: 1rem 0 3rem;
  text-align: center;
}
.contact form .form__submit input {
  padding: 1rem;
  font-size: 1.1rem;
}
.contact__alt {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  transform: translateX(0);
  transition: all 0.4s ease;
}
.contact__alt:hover {
  transform: translateX(1rem);
}
.contact__alt a {
  margin-left: 0.25rem;
  color: #f4f4f4;
}

.project img {
  width: 100%;
}
.project .h-layout {
  max-width: 50rem;
}
.project__content img {
  margin-top: 4rem;
}
.project__content h2 {
  margin-top: 3rem;
}
@media (min-width: 48rem) {
  .project__content h2 {
    margin-top: 2rem;
  }
}
.project__content p {
  margin-top: 1rem;
}
.project__content .p--tech {
  margin-top: 0.5rem;
}
.project__content .visit-website button {
  margin-top: 2rem;
}

.projects__list {
  margin-top: 4rem;
}
.projects__list-item {
  margin-top: 7rem;
}
.projects__list-item img {
  width: 90%;
  transition: all 0.4s ease;
}
.projects__list-item a {
  display: block;
  color: #f4f4f4;
  text-align: center;
}
.projects__list-item a .btn-primary {
  margin-top: 1rem;
}
.projects__list-item h3 {
  display: inline-block;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  background: linear-gradient(currentColor 0 0) bottom/var(--d, 2rem) 1px no-repeat;
  transition: 0.4s;
}
.projects__list-item:hover img {
  transform: scale(1.05);
}
.projects__list-item:hover h3 {
  --d: 100%;
}
@media (min-width: 48rem) {
  .projects__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .projects__list-item a {
    display: initial;
  }
  .projects__list-item img {
    width: 100%;
  }
  .projects__list-item > div:first-child {
    flex-basis: 35%;
    order: 0;
  }
  .projects__list-item > div:last-child {
    flex-basis: 60%;
  }
}

/*
Themes
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #f4f4f4;
}

.h-layout {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
Vendors
*/
