<footer class="footer">
    <div class="h-layout">
        <p class="copyright">© {{ helpers.currentYear() }}</p>
        
        <p class="made-by">Made with <i class="fas fa-heart"></i> by Nicolas Cnudde</p>

        {% include "components/socials.njk" %}
    </div>
</footer>