<header class="header">
    <div class="h-layout">
        <div class="menu">
            <div class="menu__info">
                <span class="logo">
                    <a href="{{ '/' | url }}">NC</a>
                </span>
            </div>

            <nav class="menu">
                {% include "components/navigation.njk" %}
            </nav>
        </div>
    </div>
</header>