<header class="header">
    <div class="menu h-layout">
        <div class="logo">
            <a href="{{ '/' | url }}">
                <img src="/static/images/logo.png" alt="Nicolas Cnudde Logo">
            </a>
        </div>

        <nav class="main-nav">
            {% include "components/navigation.njk" %}
        </nav>
    </div>
</header>