<div class="socials">
    <ul class="socials__list">
        <li>
            <a href="https://www.linkedin.com/in/nicolascnudde/" target="_blank" rel="noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>

        <li>
            <a href="https://www.github.com/pgm-nicolascnudde/" target="_blank" rel="noreferrer">
                <i class="fab fa-github-square"></i>
            </a>
        </li>

        <li>
            <a href="https://www.twitter.com/nicolas_cnudde/" target="_blank" rel="noreferrer">
                <i class="fab fa-twitter-square"></i>
            </a>
        </li>
    </ul>
</div>
