<li class="technologies__list-item">
    <figure>
        <img src="../static/images/technologies/{{ technology.image }}" alt="{{ technology.caption }}" />

        <figcaption>{{ technology.caption }}</figcaption>
    </figure>
</li>