---
client: "Arne Quinze"
url: "arne_quinze"
image: "arne_quinze.png"
description: "For @Work-1 we had to rebuild the original website of Belgian sculptor and painter Arne Quinze. He's "
category: "HTML, CSS, JavaScript"
---