---
client: "Artemia by INVE Aquaculture"
image: "artemia_inve_aquaculture.png"
description: "INVE Aquaculture specializes in providing state-of-the-art solutions in three main domains that are essential to aquaculture production: optimization of animal nutrition, careful management of animal health and rigorous control of the culture environment. They wanted to promote their Artemia products, technologies and tools with having their own subsite. Designed from scratch in WordPress"
category: "WordPress"
---