---
client: "Artemia by INVE Aquaculture"
image: "artemia_inve_aquaculture.png"
link: "https://artemia.inveaquaculture.com/"
synopsis: "Since its start in 1983, INVE Aquaculture has strived for innovation and offering the highest quality products in nutrition and health for fish and shrimp hatcheries and farms."
description: "Since its start in 1983, INVE Aquaculture has strived for innovation and offering the highest quality products in nutrition and health for fish and shrimp hatcheries and farms. They specialize in providing solutions in three domains which are vital to aquaculture production, which are: optimization of animal nutrition, careful management of animal health and regorous control of the culture environment."
type: "Freelance"
technologies: "WordPress, PHP, Elementor, CSS3"
---