---
client: "The Ghent Festival (Gentse Feesten)"
url: "ghent_festival"
image: "gentse_feesten.png"
description: "For @Work-1 we had to rebuild the original site of the Ghent Festival. The site includes a program with the daily activities which data is dynamically loaded with the help of JavaScript"
category: "HTML, CSS, JavaScript"
---