---
client: "Heroma"
image: "heroma.png"
link: "https://www.heroma.be"
synopsis: "Heroma is a Belgian company founded in 1962 that specializes in decorating company vehicles. This family company has their own range of basic products but also offers customized services."
description: "Heroma is a Belgian company founded in 1962 that specializes in decorating company vehicles. This family company has their own range of basic products but also offers customized services. Other than that, they also offer special modifications to vehicles for security services and utility companies."
type: "Freelance"
technologies: "WordPress, PHP, Elementor"
---