---
layout: layouts/base.njk
title: Work
tags: false
eleventyNavigation:
  key: work
  order: 2
---

<section class="title">
    <div class="title__container h-layout">
        <h1>{{ title }}</h1>

        <div class="bar">
        </div>
    </div>
</section>

<section class="projects">
  <div class="h-layout">    
    <ul class="projects__list">
        {% for work in collections.work %}
          <li class="card projects__list-item">
            <div class="card__left">
              <a href="{{ work.url }}">
                <img src="/static/images/work/{{ work.data.image }}" alt="{{ work.data.client }}">
              </a>
            </div>

            <div class="card__right">
              <a href="{{ work.url }}">
                <h3>{{ work.data.client }}</h3>
              </a>
              
              <p>{{ work.data.synopsis }}</p>

              <a href="{{ work.url }}">
                <button class="btn-primary">Check out the details</button>
              </a>
            </div>
          </li>
        {% endfor %}
    </ul>
  </div>
</section>
