---
tags: false
layout: layouts/base.njk
---
<div class="mailchimp">
    <section class="mailchimp__title">
        <div class="h-layout">
            <h1>Opdracht 8: Mailchimp</h1>
        </div>
    </section>

    <section class="intro">
        <div class="h-layout">
            <h2>i. Voorwoord</h2>

            <p>Voor deze opdracht stuurde ik een mailing over de voorstelling van mijn portfolio website.</p>

            <p>Dit was mijn stappenplan bij het opzetten van mijn <strong>Mailchimp account en mailing</strong>:</p>
            
            <ul>
                <li>Aanmaken van mijn account</li>
                <li>Contacten importeren en toevoegen aan mijn <strong>audience</strong></li>
                <li>Aanmaken van een <strong>survey campaign</strong> die ik later zou gebruiken voor het collecteren van data</li>
                <li>Aanmaken van mijn <strong>mailing campaign</strong> met enkele afbeeldingen en informatie over mijn portfolio website.</li>
            </ul>

            <p>Hieronder zijn enkele <strong>voor en na screenshots</strong> van mijn <strong>Mailchimp audience en campaign</strong> dashboards:</p>

            <div class="before-after">
                <figure>
                    <img src="/static/images/mailchimp/audience_before.jpg" alt="audience before" />

                    <figcaption>Audience – Before</figcaption>
                </figure>

                <figure>
                    <img src="/static/images/mailchimp/audience_after.jpg" alt="audience after" />

                    <figcaption>Audience – After</figcaption>
                </figure>            
            </div>

            <div class="before-after">
                <figure>
                    <img src="/static/images/mailchimp/campaigns_before.jpg" alt="campaigns before" />

                    <figcaption>Campaigns – Before</figcaption>
                </figure>

                <figure>
                    <img src="/static/images/mailchimp/campaigns_after.jpg" alt="campaigns after" />

                    <figcaption>Campaigns – After</figcaption>
                </figure>            
            </div>


        </div>
    </section>

    <section class="mailing">
        <div class="h-layout">
            <h2>ii. Mailing</h2>

            <p>De mailing die ik opgemaakt had bestond uit mijn logo en een screenshot van mijn logo, navigatie en een deel van mijn hero component van op mijn landingspagina.</p>
            
            <p>Door '<strong>take a sneak peak at my portfolio</strong> te gebruiken in plaats van 'rate my portfolio' of 'check out my portfolio' in mijn onderwerp en titel, wilde ik mijn subscribers hun interesse opwekken.</p>

            <p>Uiteindelijk stond in de mailing ook nog wanneer de website ongeveer live zou gaan, en een link (button) naar de <strong>eerder aangemaakte survey campaign</strong>.

            <p>Hieronder kan je zowel de mailing zien die ik verstuurde naar mijn klasgenoten en docenten, als het bevestigingsscherm dat de mailing effectief verzonden werd.</p>
            
            <img src="/static/images/mailchimp/mailing.png" alt="mailing van nicolas cnudde" />

            <img src="/static/images/mailchimp/mailing_sent.jpg" alt="mailing verzonden" />
        </div>
    </section>

    <section class="survey">
        <div class="h-layout">
            <h2>Survey</h2>

            <p>Zoals eerder vermeld, maakte ik voor de mailing eerst een <strong>survey</strong> aan, waarvan ik een link genereerde die ik in de <strong>mailing</strong> zou plaatsen.</p>

            <p>Mijn survey bestond uit twee vragen, nl:</p>

            <ul>
                <li>Rate my logo</li>
                <li>Rate my navigation and partial hero component</li>
            </ul>

            <p>Twee dagen na de mailing verzonden werd, besloot ik eens de <strong>data (charts) te bekijken van de survey</strong>. Daar kan je het <strong>aantal clicks en percentage per rating</strong> mooi terugvinden.</p>
            
            <p> Hieronder de charts van beide vragen waar je een overzicht krijgt, inclusief een gemiddelde score.</p>

            <div class="charts">
                <figure>
                    <img src="/static/images/mailchimp/chart_q1.png" alt="chart question 1" />

                    <figcaption>Chart – Question 1</figcaption>
                </figure>

                <figure>
                    <img src="/static/images/mailchimp/chart_q2.png" alt="chart question 2" />

                    <figcaption>Chart – Question 2</figcaption>                
                </figure>            
            </div>
        </div>
    </section>

    <section class="final-words">
        <div class="h-layout">
            <h2>iii. Slot</h2>

            <p>Hierboven kreeg je het overzicht van mijn eerste Mailchimp ervaring.</p>

            <p>Het opzetten van mijn Mailchimp account ging enorm vlot, het account aanmaken werd samen gedaan met de docent en klasgenoten vorige dinsdag alsook het toevoegen van de contacten in mijn audience. Wel belangrijk om te weten is dat de gebruikers als <strong>'Subscribed'</strong> moeten staan, anders zal je mailing niet verzonden worden naar die personen!</p>

            <p>Daarna was het even zoeken naar hoe ik beide campaigns moest opstellen. Het is beter om eerst de survey aangemaakt worden, want dan krijg je een url die je kan uiteindelijk kan 'linken' in je mailing. Wat ik heel handig vind van de survey's binnen Mailchimp is dat je de data heel makkelijk kan terugvinden in je campaign dashboard.</p>

            <div class="mailchimp__logo">
                <img src="/static/images/mailchimp/mailchimp_logo.png" alt="mailchimp" />
            </div>
            
            <p>Ik heb veel bijgeleerd over hoe Mailchimp in elkaar zit, voornamelijk welke soort campaigns er allemaal bestaan (bv. verschillende soorten nieuwsbrieven, voorstelling van een product, aankondiging van koopjes, evenementen, en nog veel meer...)</p>

            <p>Ik vond dit een heel leuke opdracht, voornamelijk omdat ik hiervoor nog nooit een mailing verstuurd had, en ik zou het zeker niet erg vinden als ik dit in de toekomst nog zal moeten doen!</p>

            <p>— Nicolas Cnudde</p>
        </div> 
    </section>
</div>
