---
client: "Movie Application"
image: "movie_app.png"
link: "https://react-pgmgent-7bf27.web.app"
synopsis: "This movie application offers movies and series from different categories. Find out what's popular, trending, coming soon, best rated, and much more."
description: "This movie application offers movies and series from different categories. Find out what's popular, trending, coming soon, best rated, and much more. If you want to watch the latest trailers for upcoming movies, search for your favorite movies, series or actors, look no further."
type: "University"
technologies: "JavaScript, React, SASS, Firebase"
---