footer {
    border-top: 1px solid white;
}

.footer {
    padding: $spacing-sm 0;
    text-align: center;

    .made-by {
        margin-top: 0.5rem;
        .fa-heart {
            color: #f1403c;
        }
    }
}