footer {
    border-top: 1px solid white;
}

.footer {
    margin-top: $spacing-lg;
    padding: $spacing-sm 0;
    text-align: center;

    .made-by {
        margin-top: 0.5rem;
        .fa-heart {
            color: #f1403c;
        }
    }
    .scroll-to-top {
        #scrollToTopBtn {
            display: none;
        }

        @media (min-width: 64rem) {
            #scrollToTopBtn {
                display: block;
                background: $secondary;
                position: fixed;
                right: 1rem;
                bottom: 1rem;
                width: 3rem;
                height: 3rem;
                border: 1px solid $primary;
                border-radius: 10px;
                cursor: pointer;    
            }
        }
    }
}