.header {
    display: none;
    
    .menu {
        padding: $spacing-base 0;
        text-align: center;
        
        .logo {
            img {
                width: 10rem;
            }
        }

        .main-nav {
            &__list {
                margin-top: 0.5rem;
                display: flex;
                justify-content: center;

                list-style-type: none;

                &-item {
                    margin: $spacing-base;
                        a {
                            padding: 0.5rem;
                            color: $secondary;
                            text-decoration: none;
                            font-weight: 400;

                            &:hover {
                                border-bottom: 1px solid $secondary;
                            }
                        }

                    &--active {
                        a {
                            border-bottom: 1px #ba09ff solid;
                        
                            &:hover {
                                border-bottom: 1px #ba09ff solid;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 48rem) {
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;           
        
            .main-nav {
                &__list {
                    margin-top: 0;
                }
            }
        }
    }
}