.header {
    .menu {
        padding: $spacing-base 0;
        text-align: center;
        
        .logo {
            img {
                width: 10rem;
            }
        }

        .main-nav {
            &__list {
                margin-top: 0.5rem;
                display: flex;
                justify-content: center;

                list-style-type: none;

                &-item {
                    margin: $spacing-base;
                        a {
                            padding: 0.5rem;
                            color: $secondary;
                            text-decoration: none;
                            font-weight: 400;
                            background: linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 2px no-repeat;
                            transition: 0.4s;

                            &:hover {
                                --d: 100%;
                            }
                        }

                    &--active {
                        a {
                            background: linear-gradient(#ba09ff 0 0) 0 100% /var(--d, 100%) 2px no-repeat;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 48rem) {
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;           
        
            .main-nav {
                &__list {
                    margin-top: 0;
                }
            }
        }
    }
}