.reflections {
  margin-top: $spacing-lg;
  
  h2 { 
    text-align: center; 
  }

  &__list {
    margin-top: $spacing-sm;
    
    &-item {
      margin-top: $spacing-sm;

      .question,
      .answer {
        margin-top: $spacing-base;
      }

      .question {
        font-weight: 500;
      }

      .answer {

      }

      h3 {
        margin: $spacing-base 0;
      }
    }
  }
}