.technologies {
  margin: $spacing-lg 0;
  text-align: center;

  &__list {
    margin-top: $spacing-sm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &-item {
      margin-top: $spacing-md;
      flex-basis: 30%;

      img {
        width: 50%;
      }

      figcaption {
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }

    @media (min-width: 48rem) {
      &-item {
        flex-basis: 15%;
      }
    }
  }
} 